source/Schemas/source/Schemas/CimXml/Resources/urn-ediel-org-structure-requestchangeofpricelist-0-1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:cim="urn:ediel.org:structure:requestchangeofpricelist:0:1" xmlns:ecl="urn:entsoe.eu:wgedi:codelists" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:cimp="http://www.iec.ch/cimprofile" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:ediel.org:structure:requestchangeofpricelist:0:1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="urn-ediel-org-codelists.xsd" namespace="urn:entsoe.eu:wgedi:codelists" />
  <xs:element name="RequestChangeOfPriceList_MarketDocument" type="cim:RequestChangeOfPriceList_MarketDocument" />
  <xs:complexType name="ChargeGroup" sawsdl:modelReference="http://iec.ch/TC57/CIM101#ChargeGroup">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="ChargeType" type="cim:ChargeType" sawsdl:modelReference="http://iec.ch/TC57/CIM101#ChargeGroup.ChargeType">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PartyID_String-base" sawsdl:modelReference="http://iec.ch/TC57/CIM101#String">
    <xs:restriction base="xs:string">
      <xs:maxLength value="16" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PartyID_String" sawsdl:modelReference="http://iec.ch/TC57/CIM101#String">
    <xs:simpleContent>
      <xs:extension base="cim:PartyID_String-base">
        <xs:attribute name="codingScheme" type="ecl:CodingSchemeTypeList" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ChargeKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM101#String">
    <xs:restriction base="ecl:ChargeTypeList" />
  </xs:simpleType>
  <xs:simpleType name="VATPayerKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM101#String">
    <xs:restriction base="ecl:VATPayerTypeList" />
  </xs:simpleType>
  <xs:complexType name="ChargeType" sawsdl:modelReference="http://iec.ch/TC57/CIM101#ChargeType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="chargeTypeOwner_MarketParticipant.mRID" type="cim:PartyID_String" sawsdl:modelReference="http://iec.ch/TC57/CIM101#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="type" type="cim:ChargeKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM101#Document.type">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="mRID" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM101#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="name" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM101#IdentifiedObject.name">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM101#IdentifiedObject.description">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="priceTimeFrame_Period.resolution" type="xs:duration" sawsdl:modelReference="http://iec.ch/TC57/CIM101#Period.resolution">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="effectiveDate" type="xs:dateTime" sawsdl:modelReference="http://iec.ch/TC57/CIM101#ChargeType.effectiveDate">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="terminationDate" type="xs:dateTime" sawsdl:modelReference="http://iec.ch/TC57/CIM101#ChargeType.terminationDate">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="VATPayer" type="cim:VATPayerKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM101#DK_ChargeType.VATPayer">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="transparentInvoicing" type="xs:boolean" sawsdl:modelReference="http://iec.ch/TC57/CIM101#DK_ChargeType.transparentInvoicing">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="taxIndicator" type="xs:boolean" sawsdl:modelReference="http://iec.ch/TC57/CIM101#DK_ChargeType.taxIndicator">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Series_Period" type="cim:Series_Period" sawsdl:modelReference="http://iec.ch/TC57/CIM101#ChargeType.Series_Period">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MktActivityRecord" sawsdl:modelReference="http://iec.ch/TC57/CIM101#MktActivityRecord">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="mRID" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM101#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="businessProcessReference_MktActivityRecord.mRID" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM101#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="ChargeGroup" type="cim:ChargeGroup" sawsdl:modelReference="http://iec.ch/TC57/CIM101#MktActivityRecord.ChargeGroup">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Position_Integer" sawsdl:modelReference="http://iec.ch/TC57/CIM101#Integer">
    <xs:restriction base="xs:integer">
      <xs:maxInclusive value="999999" />
      <xs:minInclusive value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Amount_Decimal" sawsdl:modelReference="http://iec.ch/TC57/CIM101#Decimal">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="17" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Point" sawsdl:modelReference="http://iec.ch/TC57/CIM101#Point">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="position" type="cim:Position_Integer" sawsdl:modelReference="http://iec.ch/TC57/CIM101#Point.position">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="price.amount" type="cim:Amount_Decimal" sawsdl:modelReference="http://iec.ch/TC57/CIM101#Price.amount">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="MessageKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM101#String">
    <xs:restriction base="ecl:MessageTypeList" />
  </xs:simpleType>
  <xs:simpleType name="ProcessKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM101#String">
    <xs:restriction base="ecl:ProcessTypeList" />
  </xs:simpleType>
  <xs:simpleType name="BusinessSectorKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM101#String">
    <xs:restriction base="ecl:BusinessSectorTypeList" />
  </xs:simpleType>
  <xs:simpleType name="MarketRoleKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM101#String">
    <xs:restriction base="ecl:RoleTypeList" />
  </xs:simpleType>
  <xs:simpleType name="ESMP_DateTime" sawsdl:modelReference="http://iec.ch/TC57/CIM101#DateTime">
    <xs:restriction base="xs:dateTime">
      <xs:pattern value="((([0-9]{4})[\-](0[13578]|1[02])[\-](0[1-9]|[12][0-9]|3[01])|([0-9]{4})[\-]((0[469])|(11))[\-](0[1-9]|[12][0-9]|30))T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])Z)|(([13579][26][02468][048]|[13579][01345789](0)[48]|[13579][01345789][2468][048]|[02468][048][02468][048]|[02468][1235679](0)[48]|[02468][1235679][2468][048]|[0-9][0-9][13579][26])[\-](02)[\-](0[1-9]|1[0-9]|2[0-9])T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])Z)|(([13579][26][02468][1235679]|[13579][01345789](0)[01235679]|[13579][01345789][2468][1235679]|[02468][048][02468][1235679]|[02468][1235679](0)[01235679]|[02468][1235679][2468][1235679]|[0-9][0-9][13579][01345789])[\-](02)[\-](0[1-9]|1[0-9]|2[0-8])T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])Z)" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="RequestChangeOfPriceList_MarketDocument" sawsdl:modelReference="http://iec.ch/TC57/CIM101#MarketDocument">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="mRID" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM101#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="type" type="cim:MessageKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM101#Document.type">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="process.processType" type="cim:ProcessKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM101#Process.processType">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="businessSector.type" type="cim:BusinessSectorKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM101#BusinessSector.type">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="sender_MarketParticipant.mRID" type="cim:PartyID_String" sawsdl:modelReference="http://iec.ch/TC57/CIM101#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="sender_MarketParticipant.marketRole.type" type="cim:MarketRoleKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM101#MarketRole.type">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="receiver_MarketParticipant.mRID" type="cim:PartyID_String" sawsdl:modelReference="http://iec.ch/TC57/CIM101#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="receiver_MarketParticipant.marketRole.type" type="cim:MarketRoleKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM101#MarketRole.type">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="createdDateTime" type="cim:ESMP_DateTime" sawsdl:modelReference="http://iec.ch/TC57/CIM101#Document.createdDateTime">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="MktActivityRecord" type="cim:MktActivityRecord" sawsdl:modelReference="http://iec.ch/TC57/CIM101#MarketDocument.MktActivityRecord">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="YMDHM_DateTime" sawsdl:modelReference="http://iec.ch/TC57/CIM101#DateTime">
    <xs:restriction base="xs:string">
      <xs:pattern value="((([0-9]{4})[\-](0[13578]|1[02])[\-](0[1-9]|[12][0-9]|3[01])|([0-9]{4})[\-]((0[469])|(11))[\-](0[1-9]|[12][0-9]|30))T(([01][0-9]|2[0-3]):[0-5][0-9])Z)|(([13579][26][02468][048]|[13579][01345789](0)[48]|[13579][01345789][2468][048]|[02468][048][02468][048]|[02468][1235679](0)[48]|[02468][1235679][2468][048]|[0-9][0-9][13579][26])[\-](02)[\-](0[1-9]|1[0-9]|2[0-9])T(([01][0-9]|2[0-3]):[0-5][0-9])Z)|(([13579][26][02468][1235679]|[13579][01345789](0)[01235679]|[13579][01345789][2468][1235679]|[02468][048][02468][1235679]|[02468][1235679](0)[01235679]|[02468][1235679][2468][1235679]|[0-9][0-9][13579][01345789])[\-](02)[\-](0[1-9]|1[0-9]|2[0-8])T(([01][0-9]|2[0-3]):[0-5][0-9])Z)" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ESMP_DateTimeInterval" sawsdl:modelReference="http://iec.ch/TC57/CIM101#DateTimeInterval">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="start" type="cim:YMDHM_DateTime" sawsdl:modelReference="http://iec.ch/TC57/CIM101#DateTimeInterval.start">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="end" type="cim:YMDHM_DateTime" sawsdl:modelReference="http://iec.ch/TC57/CIM101#DateTimeInterval.end">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Series_Period" sawsdl:modelReference="http://iec.ch/TC57/CIM101#Period">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="resolution" type="xs:duration" sawsdl:modelReference="http://iec.ch/TC57/CIM101#Period.resolution">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="timeInterval" type="cim:ESMP_DateTimeInterval" sawsdl:modelReference="http://iec.ch/TC57/CIM101#Period.timeInterval">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="Point" type="cim:Point" sawsdl:modelReference="http://iec.ch/TC57/CIM101#Period.Point">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>