source/Schemas/source/Schemas/CimXml/Resources/urn-ediel-org-structure-characteristicsofacustomeratanap-0-1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ecl="urn:entsoe.eu:wgedi:codelists" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:cimp="http://www.iec.ch/cimprofile" xmlns:CIM="urn:ediel:org:structure:characteristicsofacustomeratanap:0:1" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:ediel:org:structure:characteristicsofacustomeratanap:0:1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="urn-entsoe-eu-wgedi-codelists.xsd" namespace="urn:entsoe.eu:wgedi:codelists" />
  <xs:element name="CharacteristicsOfACustomerAtAnAP_MarketDocument" type="CIM:CharacteristicsOfACustomerAtAnAP_MarketDocument" />
  <xs:simpleType name="MessageKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM101#String">
    <xs:restriction base="ecl:MessageTypeList" />
  </xs:simpleType>
  <xs:simpleType name="ProcessKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM101#String">
    <xs:restriction base="ecl:ProcessTypeList" />
  </xs:simpleType>
  <xs:simpleType name="BusinessSectorKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM101#String">
    <xs:restriction base="ecl:BusinessSectorTypeList" />
  </xs:simpleType>
  <xs:simpleType name="PartyID_String-base" sawsdl:modelReference="http://iec.ch/TC57/CIM101#String">
    <xs:restriction base="xs:string">
      <xs:maxLength value="16" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PartyID_String" sawsdl:modelReference="http://iec.ch/TC57/CIM101#String">
    <xs:simpleContent>
      <xs:extension base="CIM:PartyID_String-base">
        <xs:attribute name="codingScheme" type="ecl:CodingSchemeTypeList" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="MarketRoleKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM101#String">
    <xs:restriction base="ecl:RoleTypeList" />
  </xs:simpleType>
  <xs:complexType name="CharacteristicsOfACustomerAtAnAP_MarketDocument" sawsdl:modelReference="http://iec.ch/TC57/CIM101#MarketDocument">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="mRID" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM101#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" default="E21" name="type" type="CIM:MessageKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM101#Document.type">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="process.processType" type="CIM:ProcessKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM101#Process.processType">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="businessSector.type" type="CIM:BusinessSectorKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM101#BusinessSector.type">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="sender_MarketParticipant.mRID" type="CIM:PartyID_String" sawsdl:modelReference="http://iec.ch/TC57/CIM101#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="sender_MarketParticipant.marketRole.type" type="CIM:MarketRoleKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM101#MarketRole.type">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="receiver_MarketParticipant.mRID" type="CIM:PartyID_String" sawsdl:modelReference="http://iec.ch/TC57/CIM101#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="receiver_MarketParticipant.marketRole.type" type="CIM:MarketRoleKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM101#MarketRole.type">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="createdDateTime" type="xs:dateTime" sawsdl:modelReference="http://iec.ch/TC57/CIM101#Document.createdDateTime">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="MktActivityRecord" type="CIM:MktActivityRecord" sawsdl:modelReference="http://iec.ch/TC57/CIM101#MarketDocument.MktActivityRecord">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="MeasurementPointID_String-base" sawsdl:modelReference="http://iec.ch/TC57/CIM101#String">
    <xs:restriction base="xs:string">
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MeasurementPointID_String" sawsdl:modelReference="http://iec.ch/TC57/CIM101#String">
    <xs:simpleContent>
      <xs:extension base="CIM:MeasurementPointID_String-base">
        <xs:attribute name="codingScheme" type="ecl:CodingSchemeTypeList" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="MarketEvaluationPoint" sawsdl:modelReference="http://iec.ch/TC57/CIM101#MarketEvaluationPoint">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="mRID" type="CIM:MeasurementPointID_String" sawsdl:modelReference="http://iec.ch/TC57/CIM101#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="serviceCategory.ElectricalHeating" type="xs:boolean" sawsdl:modelReference="http://iec.ch/TC57/CIM101#Ext_Customer.ElectricalHeating">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="electricalHeating_DateAndOrTime.dateTime" type="xs:dateTime" sawsdl:modelReference="http://iec.ch/TC57/CIM101#DateAndOrTime.dateTime">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="firstCustomer_MarketParticipant.mRID" type="CIM:PartyID_String" sawsdl:modelReference="http://iec.ch/TC57/CIM101#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="firstCustomer_MarketParticipant.name" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM101#IdentifiedObject.name">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="secondCustomer_MarketParticipant.mRID" type="CIM:PartyID_String" sawsdl:modelReference="http://iec.ch/TC57/CIM101#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="secondCustomer_MarketParticipant.name" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM101#IdentifiedObject.name">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="protectedName" type="xs:boolean" sawsdl:modelReference="http://iec.ch/TC57/CIM101#DK_Ext_MarketEvaluationPoint.protectedName">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="hasEnergySupplier" type="xs:boolean" sawsdl:modelReference="http://iec.ch/TC57/CIM101#DK_Ext_MarketEvaluationPoint.hasEnergySupplier">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="supplyStart_DateAndOrTime.dateTime" type="xs:dateTime" sawsdl:modelReference="http://iec.ch/TC57/CIM101#DateAndOrTime.dateTime">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsagePointLocation" type="CIM:UsagePointLocation" sawsdl:modelReference="http://iec.ch/TC57/CIM101#MarketEvaluationPoint.UsagePointLocation">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MktActivityRecord" sawsdl:modelReference="http://iec.ch/TC57/CIM101#MktActivityRecord">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="mRID" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM101#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="businessProcessReference_MktActivityRecord.mRID" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM101#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="originalTransactionIDReference_MktActivityRecord.mRID" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM101#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="validityStart_DateAndOrTime.dateTime" type="xs:dateTime" sawsdl:modelReference="http://iec.ch/TC57/CIM101#DateAndOrTime.dateTime">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="snapshot_DateAndOrTime.dateTime" type="xs:dateTime" sawsdl:modelReference="http://iec.ch/TC57/CIM101#DateAndOrTime.dateTime">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="MarketEvaluationPoint" type="CIM:MarketEvaluationPoint" sawsdl:modelReference="http://iec.ch/TC57/CIM101#MktActivityRecord.MarketEvaluationPoint">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AddressKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM101#String">
    <xs:restriction base="ecl:AddressTypeList" />
  </xs:simpleType>
  <xs:simpleType name="Characters70_String" sawsdl:modelReference="http://iec.ch/TC57/CIM101#String">
    <xs:restriction base="xs:string">
      <xs:maxLength value="70" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ElectronicAddress" sawsdl:modelReference="http://iec.ch/TC57/CIM101#ElectronicAddress">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="email1" type="CIM:Characters70_String" sawsdl:modelReference="http://iec.ch/TC57/CIM101#ElectronicAddress.email1">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StreetDetail" sawsdl:modelReference="http://iec.ch/TC57/CIM101#StreetDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM101#StreetDetail.code">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="name" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM101#StreetDetail.name">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="number" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM101#StreetDetail.number">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="floorIdentification" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM101#StreetDetail.floorIdentification">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="suiteNumber" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM101#StreetDetail.suiteNumber">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Characters2_String" sawsdl:modelReference="http://iec.ch/TC57/CIM101#String">
    <xs:restriction base="xs:string">
      <xs:length value="2" />
      <xs:pattern value="[A-Z]*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TownDetail" sawsdl:modelReference="http://iec.ch/TC57/CIM101#TownDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM101#TownDetail.code">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="name" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM101#TownDetail.name">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="section" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM101#TownDetail.section">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="country" type="CIM:Characters2_String" sawsdl:modelReference="http://iec.ch/TC57/CIM101#TownDetail.country">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StreetAddress" sawsdl:modelReference="http://iec.ch/TC57/CIM101#StreetAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="streetDetail" type="CIM:StreetDetail" sawsdl:modelReference="http://iec.ch/TC57/CIM101#StreetAddress.streetDetail">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="townDetail" type="CIM:TownDetail" sawsdl:modelReference="http://iec.ch/TC57/CIM101#StreetAddress.townDetail">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="postalCode" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM101#StreetAddress.postalCode">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="poBox" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM101#StreetAddress.poBox">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="language" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM101#StreetAddress.language">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Characters15_String" sawsdl:modelReference="http://iec.ch/TC57/CIM101#String">
    <xs:restriction base="xs:string">
      <xs:maxLength value="15" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TelephoneNumber" sawsdl:modelReference="http://iec.ch/TC57/CIM101#TelephoneNumber">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ituPhone" type="CIM:Characters15_String" sawsdl:modelReference="http://iec.ch/TC57/CIM101#TelephoneNumber.ituPhone">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UsagePointLocation" sawsdl:modelReference="http://iec.ch/TC57/CIM101#UsagePointLocation">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="type" type="CIM:AddressKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM101#Location.type">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="geoInfoReference" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM101#Location.geoInfoReference">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="mainAddress" type="CIM:StreetAddress" sawsdl:modelReference="http://iec.ch/TC57/CIM101#Location.mainAddress">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="name" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM101#IdentifiedObject.name">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="attn_Names.name" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM101#Name.name">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="phone1" type="CIM:TelephoneNumber" sawsdl:modelReference="http://iec.ch/TC57/CIM101#Location.phone1">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="phone2" type="CIM:TelephoneNumber" sawsdl:modelReference="http://iec.ch/TC57/CIM101#Location.phone2">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="electronicAddress" type="CIM:ElectronicAddress" sawsdl:modelReference="http://iec.ch/TC57/CIM101#Location.electronicAddress">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="protectedAddress" type="xs:boolean" sawsdl:modelReference="http://iec.ch/TC57/CIM101#DK_Ext_UsagePointLocation.protectedAddress">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>